
.page-header {
  text-align: center;
  padding: 10px 0;
  background-color: #fff;
  box-shadow: 0 7px 42px rgba(0, 0, 0, .1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  h1 {
    font-size: 16px;
  }
}